.pegs {
    width: 45px;
    height: 45px;
    margin: .5rem 1rem;
    background-color: #d1ecf5;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.colorSelected {
    cursor: pointer;
}

.red{
    background-color: grey;
    border-radius: 50%;
}

.red{
    background-color: red;
    border-radius: 50%;
}

.blue{
    background-color: blue;
    border-radius: 50px;
}

.green{
    background-color: green;
    border-radius: 50px;
}

.yellow{
    background-color: yellow;
    border-radius: 50px;
}

.orange{
    background-color: orange;
    border-radius: 50px;
}

.white{
    background-color: white;
    border-radius: 50px;
}