.icon {
    color: rgb(116, 116, 116);
    margin-top: 3px;
    margin-left: 2px;
    font-size: 120%;
 }

.disabled {
    background-color: rgb(243, 243, 243);
}

.enabled {
    background-color: #fff;
    cursor: pointer;
}